/* Botões */
.btn {
  display: block;
  font-family: var(--fonte-titulo);
  font-weight: 500;
  font-size: var(--size-lg);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 28px;
  width: 100%;
  border-radius: var(--raio-borda);
  box-shadow: var(--sombra-suave);
  cursor: pointer;
  transition: all 0.3s;

  @media (min-width: 768px) {
    padding: 18px 32px;
    min-width: 300px;
    max-width: fit-content;
  }

  &.--primario {
    background-color: var(--azul);
    color: var(--branco-200);

    &:hover {
      background-color: var(--azul-medio);
    }
  }

  &.--secundario {
    background-color: var(--azul-100);
    color: var(--azul-500);

    &:hover {
      background-color: var(--azul-100-C2);
    }
  }

  &.--center {
    place-self: center;
  }
}
