button[type="submit"] {
  display: block;
  font-family: var(--fonte-titulo);
  font-weight: 500;
  font-size: var(--size-lg);
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 28px;
  background-color: var(--azul);
  color: var(--branco);
  width: 100%;
  border-radius: var(--raio-borda);
  box-shadow: var(--sombra-suave);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: var(--azul-escuro);
  }

  @media (min-width: 768px) {
    padding: 18px 32px;
    min-width: 300px;
    max-width: fit-content;
  }
}

label {
  display: block;
  font-family: var(--fonte-titulo);
  font-weight: 500;
  font-size: var(--size-lg);
  line-height: 1.5;
  margin-bottom: 4px;

  @media (min-width: 768px) {
    margin-bottom: 8px;
  }
}

input[type="email"] {
  font-family: var(--fonte-texto);
  color: var(--cor-texto-claro);
  background-color: var(--cor-fundo-escuro);
  border: 1px solid #787878;
  border-radius: var(--raio-borda);
  width: 100%;
  font-size: var(--size-lg);
  padding: 10px 8px;
  margin-bottom: 1rem;

  &::placeholder {
    font-family: inherit;
  }

  @media (min-width: 768px) {
    padding: 18px 32px;
    max-width: 524px;
    margin-bottom: 1.5rem;
  }
}
