<footer id="footer" class="" role="contentinfo">
  <div class="footer container">
    <a aria-label="Página Inicial" class="logo" href="/"><img src="/assets/images/logo-Instituto-refaz.svg" alt="Logo do Instituto Refaz"></a>
    <p class="footer_citacao"><em>"Transformando Vidas com Educação, Esporte e Esperança"</em></p>
    <div class="footer__acima">
      <a href="/como-ajudar/#doarcnpj" class="btn --primario">Doação ao CNPJ</a>
      <a href="/#newsletter" class="btn --secundario">Assine newsletter</a>
    </div>
    <hr>
    <div class="footer__meio">
      <nav class="mapa-do-site" aria-labelledby="mapa-site-titulo">
        <h2 id="mapa-site-titulo">mapa do site</h2>
        <ul class="mapa__lista">
          <li class="mapa__item"><a href="/" class="mapa__link">Inicio</a></li>
          <li class="mapa__item"><a href="/quem-somos/" class="mapa__link">Quem somos</a></li>
          <li class="mapa__item"><a href="/nossos-projetos/" class="mapa__link">Nossos projetos</a></li>
          <li class="mapa__item"><a href="/transparencia/" class="mapa__link">Tansparência</a></li>
          <li class="mapa__item"><a href="/como-ajudar/" class="mapa__link">Como ajudar</a></li>
          <li class="mapa__item"><a href="/blog/" class="mapa__link">Blog</a></li>
          <li class="mapa__item"><a href="/contato/" class="mapa__link">Contato</a></li>
          <li class="mapa__item"><a href="/parceiros/" class="mapa__link">Parceiros</a></li>
        </ul>
      </nav>
      <div class="contato-rapido" aria-labelledby="contato-titulo">
        <h2 id="contato-titulo">Contato</h2>
        <ul class="contato__lista">
          <li class="contato__item"><a href="mailto:{{ config.authorContact}}" class="contato__link">{{ config.authorContact }}</a></li>
          <li class="contato__item"><a href="https://wa.me/5521987654321" class="contato__link">WhatsApp: (21) 98765-4321</a></li>
          <li class="contato__item">
            <a href="https://www.instagram.com/instituto_refaz/" class="social__link">
              <img src="/assets/images/instagram.svg" alt="Instagram do Instituto Refaz">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="footer__abaixo">
      <a href="/politica-e-privacidade/">Política de privacidade</a>
    </div>
  </div>
  <div class="end">
    <figure class="end__imagem">
      <img eleventy:ignore src="/assets/images/logo-ferinha.svg" alt="O logotipo do desenvolvedor que criou este site: é o rosto de um javali." width="50" height="50">
      <figcaption>Desenvolvido por <a href="https://www.instagram.com/lucax.ui/" target="_blank" rel="noopener">Ferinha</a></figcaption>
    </figure>
    <p>© <span id="ano"></span> Instituto Refaz — Todos os direitos reservados.</p>
  </div>
  <script>
    document.getElementById('ano').textContent = new Date().getFullYear();
  </script>
</footer>