<header id="header" class="header container">
    <div class="cabecalho">
        <a aria-label="Página Inicial" class="logo" href="/">
            <img eleventy:ignore src="/assets/images/logo-Instituto-refaz.svg" alt="Logo do Instituto Refaz" width="80" height="80" loading="eager" fetchpriority="high">
        </a>

        <!-- Botão hamburguer / fechar -->
        <button aria-controls="menu-principal" aria-expanded="false" aria-label="Abrir menu" class="cabecalho__menu-toggle">
            <img eleventy:ignore src="/assets/images/menu.svg" alt="" class="icone-menu icone-menu--abrir" width="24" height="24">
            <img eleventy:ignore src="/assets/images/x.svg" alt="" class="icone-menu icone-menu--fechar" width="24" height="24">
        </button>

        <!-- Menu de navegação -->
        <nav class="cabecalho__nav nav" id="menu-principal" aria-label="Menu principal">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="/">Início</a></li>
                <li class="nav__item"><a class="nav__link" href="/quem-somos/index.html">Quem Somos</a></li>
                <li class="nav__item"><a class="nav__link" href="/nossos-projetos/index.html">Nossos Projetos</a></li>
                <li class="nav__item"><a class="nav__link" href="/transparencia/index.html">Transparência</a></li>
                <li class="nav__item"><a class="nav__link" href="/como-ajudar/index.html">Como Ajudar</a></li>
                <li class="nav__item"><a class="nav__link" href="/blog/index.html">Blog</a></li>
                <li class="nav__item"><a class="nav__link" href="/contato/index.html">Contato</a></li>
                <li class="nav__item"><a class="nav__link" href="/parceiros/index.html">Parceiro</a></li>
            </ul>
        </nav>
    </div>
</header>