<!DOCTYPE html>
<html lang="{{ config.siteLang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- SEO -->
  <title>{{ title | default: config.siteName }}</title>
  <meta name="description" content="{{ siteDescription | default: config.defaultDescription }}" />

  <!-- Cache busting apenas na home -->
  {% if page.url == '/' %}
  <meta http-equiv="Cache-Control" content="max-age=0, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  {% endif %}

  <!-- Open Graph / Social -->
  <meta property="og:title" content="{{ title | default: config.siteName }}">
  <meta property="og:description" content="{{ siteDescription | default: config.defaultDescription }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ config.siteURL }}{{ page.url }}">
  <meta property="og:image" content="{{ config.siteURL }}/social.png">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title | default: config.siteName }}">
  <meta name="twitter:description" content="{{ siteDescription | default: config.defaultDescription }}">
  <meta name="twitter:image" content="{{ config.siteURL }}/social.png">

  <!-- CSS -->
  <link rel="stylesheet" href="{% getBundleFileUrl 'css' %}">

  {% if page.url == '/contato/' %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  {% endif %}


  <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="/assets/images/favicon.ico">

  <script src="/assets/js/menu.js" defer></script>
  <script src="/assets/js/slide.js" defer></script>
</head>
{{ content }}

</html>