<article id="newsletter" class="newsletter texto-conteudo container" aria-labelledby="newsletter-titulo">
  <h2 id="newsletter-titulo" class="titulo --0">Newsletter</h2>
  <h3 class="titulo --2">Não perca nossas novidades</h3>
  <p>Receba histórias inspiradoras de transformação no seu e-mail através do nosso newsletter.</p>

  <iframe src="https://ferinhaoriginale.substack.com/embed" width="480" height="320" loading="lazy" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
</article>