<article id="newsletter" class="newsletter texto-conteudo container" aria-labelledby="newsletter-titulo">
  <h2 id="newsletter-titulo" class="titulo --0">Newsletter</h2>
  <h3 class="titulo --2">Não perca nossas novidades</h3>
  <p>Receba histórias inspiradoras de transformação no seu e-mail através do nosso newsletter.</p>

  <form class="newsletter__form" action="" method="post" aria-labelledby="newsletter-titulo">
    <label for="email" class="newsletter__label">
      E-mail
    </label>

    <div class="newsletter__field">
      <input type="email" id="email" name="email" placeholder="digite seu e-mail" required aria-label="Digite seu e-mail">
      <button type="submit">
        Assinar newsletter
      </button>
    </div>
  </form>
</article>