<article id="parceiros" class="parceiros container" aria-labelledby="parceiros-titulo">
  <h2 id="parceiros-titulo" class="titulo --0">parceiros</h2>
  <div class="slide__conteudo">
    <div class="slide__setas">
      <button class="slide__seta slide__setaEsquerda" aria-label="Slide anterior">
        <img src="/assets/images/seta-esquerda.svg" alt="">
      </button>
      <button class="slide__seta slide__setaDireita" aria-label="Próximo slide">
        <img src="/assets/images/seta-direita.svg" alt="">
      </button>
    </div>
    <figure class="slide__imagens">
      <img src="/assets/images/parceiros/logo-cidade-integrada.webp" alt="Logo Guaraná">
    </figure>
  </div>
</article>