/* Equipe */
.equipe__lista {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
}

.equipe__voluntario {
  max-width: 170px;
  background-color: #246db4;
  display: flex;
  flex-direction: column;
  padding: 4px;
  color: #fff;
  text-align: center;
}

.equipe__voluntario img {
  max-height: 220px;
}

.equipe__voluntario figcaption {
  padding: 3px 0 0;
}
