---
layout: head.html
title: Transparência — Instituto Refaz
siteDescription: Confira as prestações de contas e a transparência do Instituto Refaz. Nosso compromisso é com a responsabilidade e a confiança.
css: "transparencia.css"
---


<body class="espacamento-primario">
  {% include "header.html" %}

  <main id="introducao" class="introducao container texto-conteudo--pagina">
    <h1 class="titulo --0">Transparência</h1>
    <h2 class="titulo --1">Clareza e Responsabilidade em Cada Passo</h2>
    <p>Acreditamos que a transparência é a base da confiança. Por isso, assumimos o compromisso público de agir com clareza e integridade em todas as nossas ações, comunicando nosso progresso de forma honesta e acessível</p>

    <h2 class="titulo --2">Nossa Jornada de Formalização</h2>
    <p>Estamos em um momento crucial de nossa história: a legalização do nosso CNPJ. Este não é apenas um trâmite burocrático, mas um passo estratégico para ampliar nosso impacto e garantir a sustentabilidade de nossas ações.</p>

    <h3 class="titulo --3">Por que a formalização é importante?</h3>
    <p>Ela nos permitirá:</p>
    <ul class="lista-padrao">
      <li>Acessar recursos e editais públicos e privados.</li>
      <li>Firmar parcerias institucionionais mais sólidas e duradouras.</li>
      <li>Garantir a sustentabilidade de longo prazo do Instituto Refaz.</li>
    </ul>

    <h2 class="titulo --2">Nossos Documentos e Relatórios</h2>
    <p>Conforme avançamos em nossa formalização, nos comprometemos publicamente com a divulgação clara de nossas informações. Esta seção será atualizada com os documentos listados abaixo, que são essenciais para a prestação de contas no setor público e em organizações da sociedade civil.</p>

    <h3 class="titulo --3">Em Breve nesta Página:</h3>
    <p>Arraste para o lado →</p>
    <table>
      <thead>
        <tr>
          <th>Tipo de Documento</th>
          <th>Periodicidade</th>
          <th>Status/Previsão</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Relatório de Atividades do Ano</td>
          <td>Anual</td>
          <td>A ser publicado após a formalização do CNPJ</td>
        </tr>
        <tr>
          <td>Demonstrativos Financeiros</td>
          <td>Anual</td>
          <td>A ser publicado após a formalização do CNPJ</td>
        </tr>
        <tr>
          <td>Estudos de Custo de Projetos</td>
          <td>Por projeto </td>
          <td>Futuramente, com um sistema de custos estruturado</td>
        </tr>
      </tbody>
    </table>

    <h3 class="titulo --3">Dúvidas ou Quer Saber Mais?</h3>
    <p>Valorizamos o diálogo aberto. Se você tem alguma dúvida sobre nosso trabalho, nosso processo de formalização ou como nos acompanhar, entre em contato conosco.</p>
    <a href="#" class="btn --primario">ir à página de contato</a>
  </main>

  {% include "footer.html" %}
</body>

</html>