---
layout: head.html
title: Contato — Instituto Refaz
siteDescription: Estamos sempre dispostos a receber novas ideias, voluntários, parcerias e a nos conectar com nossa comunidade. Fale conosco!
css:
- "contato.css"
- "base/newsletter.css"
---

<body class="espacamento-primario">
  {% include "header.html" %}

  <main id="introducao" class="conteudo--alinhado introducao texto-conteudo container" aria-labelledby="titulo-principal">
    <h1 class="titulo --0">contato</h1>
    <h2 class="titulo --1">Fale com o Instituto Refaz</h2>
    <p>Estamos sempre abertos a novas ideias, voluntários, parcerias e à nossa comunidade. Entre em contato conosco por qualquer um dos canais abaixo.</p>

    <section class="texto-conteudo--pagina">
      <h2 class="titulo --2">Entre em Contato</h2>
      <p>Envie suas dúvidas, sugestões ou propostas de parceria.</p>
      <h3 class="titulo --3">WhatsApp</h3>
      <p><a href="#">(00) 0 0000-0000</a></p>

      <h3 class="titulo --3">E-mail</h3>
      <p><a href="">institutorefaz@gmail.com</a></p>

      <h2 class="titulo --2">Onde Estamos</h2>
      <p>Atuamos diretamente nas comunidades do Pavão-Pavãozinho e Cantagalo, no Rio de Janeiro.</p>
      <p>Nosso endereço de referência para correspondência e algumas atividades é:</p>
      <blockquote>
        <address>
          Biblioteca Municipal de Copacabana <br>
          Rua Sá Ferreira, 80 – Copacabana <br>
          Rio de Janeiro – RJ <br>
          CEP: 22071-060
        </address>
      </blockquote>

      <h3 class="titulo --3">Encontre-nos no Mapa</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470400.738485953!2d-43.775640818838596!3d-22.913158042919136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bde559108a05b%3A0x50dc426c672fd24e!2sRio%20de%20Janeiro%2C%20RJ!5e0!3m2!1spt-BR!2sbr!4v1760627943451!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    {% include "newsletter.html" %}
  </main>

  {% include "footer.html" %}
</body>