---
layout: head.html
title: Contato — Instituto Refaz
siteDescription: Estamos sempre dispostos a receber novas ideias, voluntários, parcerias e a nos conectar com nossa comunidade. Fale conosco!
---

{% css %}
{{ '/assets/styles/base/_reset.css' | read }}
{{ '/assets/styles/base/_variables.css' | read }}
{{ '/assets/styles/base/_typography.css' | read }}

{{ '/assets/styles/layout/_spacing.css' | read }}
{{ '/assets/styles/layout/_header.css' | read }}
{{ '/assets/styles/layout/_main.css' | read }}
{{ '/assets/styles/layout/_footer.css' | read }}
{{ '/assets/styles/layout/_newsletter.css' | read }}

{{ '/assets/styles/components/_buttons.css' | read }}
{{ '/assets/styles/components/_form.css' | read }}
{{ '/assets/styles/components/_slide.css' | read }}

{{ '/assets/styles/pages/_contato.css' | read }}
{{ '/assets/styles/base/_utilities.css' | read }}
{% endcss %}

<body class="espacamento-primario">
  {% include "header.html" %}

  <main id="introducao" class="conteudo--alinhado introducao texto-conteudo container" aria-labelledby="titulo-principal">
    <h1 class="titulo --0">contato</h1>
    <h2 class="titulo --1">Fale com o Instituto Refaz</h2>
    <p>Estamos sempre abertos a novas ideias, voluntários, parcerias e à nossa comunidade. Entre em contato conosco por qualquer um dos canais abaixo.</p>

    <section class="texto-conteudo--pagina">
      <h2 class="titulo --2">Entre em Contato</h2>
      <p>Envie suas dúvidas, sugestões ou propostas de parceria.</p>
      <h3 class="titulo --3">WhatsApp</h3>
      <p><a class="entre-em-contato__link" href="https://wa.me/5521987654321">(21) 98765-4321</a></p>

      <h3 class="titulo --3">E-mail</h3>
      <p><a class="entre-em-contato__link" href="maito:institutorefaz@gmail.com">institutorefaz@gmail.com</a></p>

      <h2 class="titulo --2">Onde Estamos</h2>
      <p>Atuamos diretamente nas comunidades do Pavão-Pavãozinho e Cantagalo, no Rio de Janeiro.</p>
      <p>Nosso endereço de referência para correspondência e algumas atividades é:</p>
      <blockquote>
        <address>
          Biblioteca Municipal de Copacabana <br>
          Rua Sá Ferreira, 80 – Copacabana <br>
          Rio de Janeiro – RJ <br>
          CEP: 22071-060
        </address>
      </blockquote>

      <h3 class="titulo --3">Encontre-nos no Mapa</h3>
      <div id="map"></div>
    </section>

    {% include "newsletter.html" %}
  </main>

  {% include "footer.html" %}
  <script>
    var map = L.map('map').setView([-22.980877776237108, -43.19203548988972], 16)
    var marker = L.marker([-22.980877776237108, -43.19203548988972]).addTo(map);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
  </script>
</body>