/* Footer */
#footer {
  background-color: var(--azul-400);
  color: var(--branco);

  --footer-space: 24px;
  @media (min-width: 768px) {
    --footer-space: 32px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: var(--footer-space);
  padding-bottom: var(--footer-space);
}

.footer a:hover {
  background-color: var(--azul-escuro);
}

.footer hr {
  margin-top: var(--footer-space);
  margin-bottom: var(--footer-space);
  height: 1px;
  border: none;
  background-color: var(--azul-medio);
}

.footer .logo {
  place-self: center;
  margin-bottom: 24px;
}

.footer .footer_citacao {
  place-self: center;
  font-size: var(--size-lg);
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer__acima {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 40px;
  }
}

.footer__meio {
  display: grid;
  max-width: 655px;
  gap: 32px;

  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 53px;
  }
}

.mapa-do-site h2,
.contato-rapido h2 {
  text-transform: uppercase;
  font-size: var(--size-lg);
  line-height: 1.5;
  margin-bottom: 16px;
}

.mapa__lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mapa__link {
  text-transform: uppercase;
  color: inherit;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
  letter-spacing: 0.5px;
  padding: 5px 10px;
}

.contato__link {
  color: inherit;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1rem);
  letter-spacing: 0.5px;
  padding: 5px 10px;
}

.social__link {
  max-width: 24px;
}

.contato__lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__abaixo {
  place-self: center;
}

.footer__abaixo a {
  color: inherit;
  font-size: var(--size-sm);
}

.end {
  padding-top: var(--footer-space);
  padding-bottom: var(--footer-space);
  color: var(--cinza-medio);
  background-color: var(--branco-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.end__imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.end__imagem figcaption {
  font-size: var(--size-xs);
}

.end__imagem figcaption a {
  color: var(--preto);
}

.end p {
  font-size: var(--size-xs);
}
