---
layout: head.html
title: Quem Somos — Instituto Refaz
siteDescription: Conheça a história, a missão e os valores do Instituto Refaz, uma organização dedicada à educação, esporte e cultura no Rio de Janeiro.
---

{% css %}
{{ '/assets/styles/base/_reset.css' | read }}
{{ '/assets/styles/base/_typography.css' | read }}
{{ '/assets/styles/base/_variables.css' | read }}
{{ '/assets/styles/base/_utilities.css' | read }}
{{ '/assets/styles/layout/_spacing.css' | read }}
{{ '/assets/styles/layout/_header.css' | read }}
{{ '/assets/styles/layout/_main.css' | read }}
{{ '/assets/styles/pages/_quem-somos.css' | read }}
{{ '/assets/styles/components/_buttons.css' | read }}
{{ '/assets/styles/layout/_footer.css' | read }}
{% endcss %}

<body class="espacamento-primario">
  {% include "header.html" %}

  <main id="introducao" class="conteudo--alinhado introducao container" aria-labelledby="titulo-principal">
    <div class="introducao texto-conteudo">
      <h1 id="titulo-principal" class="titulo --0">Quem somos</h1>
      <h2 class="titulo --1">Nossa História</h2>
      <p>O Instituto Refaz nasceu de um sonho: <strong>transformar a vida de crianças e adolescentes</strong> em situação de vulnerabilidade nas comunidades do Pavão-Pavãozinho e Cantagalo, no Rio de Janeiro.</p>
      <img src="/assets/images/quem-somos-colagem-equipe-e-alunos-ong.jpg" alt="Colagem digital representando a equipe e participantes do projeto, com crianças, jovens e educadores em atividades, sobre fundo artístico com flores, lápis de cor e o Cristo Redentor.">
      <p>Acreditamos que, por meio da <strong>educação, do esporte e da cultura</strong>, podemos acolher e reconstruir vidas. Cada sorriso e cada família alcançada reforça nosso propósito.</p>
      <p>Hoje, somos uma organização em processo de formalização, consolidando nossa <strong>atuação para multiplicar impacto</strong>.</p>

      <section class="texto-conteudo">
        <h2 class="titulo --2">Nossa Missão e Visão</h2>
        <ul class="lista-padrao">
          <li><strong>Missão:</strong> Transformar vidas por meio de ações sociais que promovam impacto positivo, esperança e renovação.</li>
          <li><strong>Visão:</strong> Ser referência em transformação social com atuação sustentável, transparente e inclusiva.</li>
        </ul>
      </section>

      <section class="texto-conteudo">
        <h2 class="titulo --2">Nossos Valores</h2>
        <ul class="lista-padrao">
          <li><strong>Acolhimento:</strong> Criar um ambiente inclusivo e humano.</li>
          <li><strong>Transparência:</strong> Agir com clareza e responsabilidade.</li>
          <li><strong>Sustentabilidade:</strong> Promover o crescimento equilibrado com respeito ao meio ambiente.</li>
          <li><strong>Esperança e Renovação:</strong> Inspirar mudanças positivas e construir novas oportunidades.</li>
        </ul>
      </section>

      <section class="texto-conteudo">
        <h2 class="titulo --2">Nossa Equipe</h2>
        <p>Somos impulsionados por <strong>voluntários dedicados</strong> — desde professores que oferecem seu tempo a profissionais que utilizam suas habilidades para fazer o bem.</p>
        <p>Unidos pela crença em um futuro mais justo, construímos diariamente um <strong>espaço de acolhimento e oportunidades</strong>.</p>
        <section id="equipe" class="equipe">
          <ul class="equipe__lista">
            <li class="equipe__voluntario">
              <figure>
                <img loading="lazy" src="/assets/images/equipe/Gabi-Deglane.webp" alt="Rosto da Gabriela Deglane">
                <figcaption>Gabriela Deglane</figcaption>
              </figure>
            </li>
            <li class="equipe__voluntario">
              <figure>
                <img loading="lazy" src="/assets/images/equipe/Jorge-Miguel.webp" alt="Rosto do Jorge Miguel">
                <figcaption>Jorge Miguel</figcaption>
              </figure>
            </li>
            <li class="equipe__voluntario">
              <figure>
                <img loading="lazy" src="/assets/images/equipe/Marcia.webp" alt="Rosto da Márcia Luzia">
                <figcaption>Márcia Luzia</figcaption>
              </figure>
            </li>
            <li class="equipe__voluntario">
              <figure>
                <img loading="lazy" src="/assets/images/equipe/Felipe-Pani.webp" alt="Rosto do Felipe Pani">
                <figcaption>Felipe Pani</figcaption>
              </figure>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </main>
  {% include "footer.html" %}

</body>

</html>