---
layout: head.html
title: Parceitos — Instituto Refaz
siteDescription: Estamos sempre dispostos a receber novas ideias, voluntários, parcerias e a nos conectar com nossa comunidade. Fale conosco!
css:
- "parceiros.css"
- "base/newsletter.css"
---

<body class="espacamento-primario">
  {% include "header.html" %}

  <main id="introducao" class="conteudo--alinhado introducao texto-conteudo container" aria-labelledby="titulo-principal">
    <h1 class="titulo --0">parceiros</h1>
    <h2 class="titulo --1">Juntos Somos Mais Fortes</h2>
    <p>Agradecemos de coração a todos os parceiros que acreditam na nossa causa e tornam o nosso trabalho possível.</p>

    <section>
      <h2 class="titulo --2">Nossos Parceiros Atuais</h2>
    </section>
    <section class="texto-conteudo">
      <h2 class="titulo --2">Faça Parte Desta Rede!</h2>
      <p>Quer apoiar a transformação de vidas através da educação, esporte e cultura?</p>
      <a href="/como-ajudar/" class="btn --primario">Seja um Parceiro!</a>
      <small>Esse botão direciona para a página "Como ajudar" na seção de parceiros.</small>
    </section>
  </main>

  {% include "footer.html" %}
</body>