---
layout: head.html
title: Parceitos — Instituto Refaz
siteDescription: Estamos sempre dispostos a receber novas ideias, voluntários, parcerias e a nos conectar com nossa comunidade. Fale conosco!
---

{% css %}
{{ '/assets/styles/base/_reset.css' | read }}
{{ '/assets/styles/base/_variables.css' | read }}
{{ '/assets/styles/base/_typography.css' | read }}

{{ '/assets/styles/layout/_spacing.css' | read }}
{{ '/assets/styles/layout/_header.css' | read }}
{{ '/assets/styles/layout/_main.css' | read }}
{{ '/assets/styles/layout/_footer.css' | read }}

{{ '/assets/styles/components/_buttons.css' | read }}

{{ '/assets/styles/pages/_parceiros.css' | read }}
{{ '/assets/styles/base/_utilities.css' | read }}
{% endcss %}

<body class="espacamento-primario">
  {% include "header.html" %}

  <main id="introducao" class="conteudo--alinhado introducao texto-conteudo container" aria-labelledby="titulo-principal">
    <h1 class="titulo --0">parceiros</h1>
    <h2 class="titulo --1">Juntos Somos Mais Fortes</h2>
    <p>Agradecemos de coração a todos os parceiros que acreditam na nossa causa e tornam o nosso trabalho possível.</p>

    <section class="parceiros-atuais">
      <h2 class="titulo --2">Nossos Parceiros Atuais</h2>
      <div class="parceiros__grade">
        <figure class="parceiros__logo">
          <img src="/assets/images/parceiros/logo-cidade-integrada.webp" alt="Logo do Projeto Cidade Integrada">
        </figure>
      </div>
    </section>
    <section class="texto-conteudo">
      <h2 class="titulo --2">Faça Parte Desta Rede!</h2>
      <p>Quer apoiar a transformação de vidas através da educação, esporte e cultura?</p>
      <a href="/como-ajudar/" class="btn --primario">Seja um Parceiro!</a>
      <small class="small">Esse botão direciona para a página "Como ajudar" na seção de parceiros.</small class="small">
    </section>
  </main>

  {% include "footer.html" %}
</body>